#community_acf_map {
	height: rem-calc(350);
	@include media-breakpoint-up(md) {
		height: rem-calc(450);
	}
	@include media-breakpoint-up(xlg) {
		height: 70vh;
	}
	&.hidden {
		opacity: 0;
	}

	.gm-style-iw-c {
		button {
			top: 0 !important;
			right: 0 !important;
			background-color: $gray-200 !important;
		}
	}

	.marker-wrapper {
		h3.marker-title {
			@extend .h5;
		}
	}
}

#luxury_homes_community{
	.bg-img-cont{
		@include media-breakpoint-down(sm){
			margin-top:map_get($spacers, 4) !important;
		}
	}
	.location-row{
		&:last-of-type{
			@include media-breakpoint-down(sm){
				margin-bottom:0 !important;
			}
		}
	}
	.container{
		@include media-breakpoint-down(sm){
			max-width:none !important;
		}
	}
}
